body{
    background-color: rgb(44, 44, 30, 0.8);
    color: white;
}
.yellowText{
    color: yellow;
}
h1{
    color: lightblue;
}
h2{
    color: lightsteelblue;
}
a{
    color:red;
}
img{
    height:50px;
    width: 50px;
}